.payment.iframe .container {
  background: #f4f4f4 0 0 no-repeat padding-box;
}

body.v2 input.payment-input,
body.payment input.payment-input {
  height: 50px;
}

.control-group.payment_form-mh {
  display: flex;
}

.control-group.payment_form-mh .pull-left {
  flex: 1;
}

.control-group.payment_form-mh .pull-left .controls {
  padding-right: 10px;
}

body.v2 #payment_request_expiry_date,
body.payment #payment_request_expiry_date {
  width: 100% !important;
}

body.v2  .row-fluid .span4.push4.offset4 {
  padding: 0 !important;
}